{{ define "main" }}
{{- $pages := where .Site.RegularPages "Type" "in" "posts" | groupByDate "2006" }}
{{- range $pages }}
<section class="archives-group">
    <h2 class="archive-year">{{ .Key }}</h2>
    {{- range .Pages }}
    <article class="post-entry">
        <header class="entry-header">
            <h2 class="entry-hint-parent">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
        </header>
        <div class="entry-content">
            <p>{{ .Summary }}...</p>
        </div>
        <footer class="entry-footer">
            <span>{{ .Date.Format "January 2, 2006" }}</span>
        </footer>
    </article>
    {{- end }}
</section>
{{- end }}
{{ end }}
