name: Deploy Hugo Blog

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.146.0'
          extended: true

      - name: Build
        run: hugo --minify

      - name: Deploy
        run: |
          cd public
          git init
          git config --global user.name "unixcs"
          git config --global user.email "fengx@fengx.eu.org"
          git add .
          git commit -m "Deploy $(date +'%Y-%m-%d %H:%M:%S')"
          git push -f -q git@github.com:unixcs/unixcs.github.io.git HEAD:gh-pages
